*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Rubik Vinyl';
    background-color:#F1FAEE;
}

/* HERO */

.header-img{
    background-image:url("images/detroit.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    margin: 0 auto;
}

.title, .subtitle{
    background-color:#457B9D;
    color: whitesmoke;
    padding: .5em .75em;
    border-radius: 40%;
}

.title{
    font-size: 2rem;
}
    
.subtitle {
    font-size: 1.25rem;
} 

@media screen and (min-width: 600px){
    .header-img{
        justify-content: end;
    }
}

/* ACTIVITIES SECTION */
#activity-section{
    padding: 1em;
}

.activity-section-title{
    font-size: 1.75rem;
}

.activity-card{
    margin: 2em auto;
    width: 80%;
}

.activity-img{
    border-radius: 50%;
    display: block;
    width: 100%;
    object-fit: cover;
}

.activity-name{
    font-size: 1.75rem;
    margin-top: .5em;
    margin-bottom: 0;
}

.activity-description{
    font-size: 1.2rem
}

@media screen and (min-width:700px) {
    .activities{
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        
    }
    .activity-card{
        width: 30%;
    }
}

/* GUIDE SECTION */

#guide {
    padding: 1.5em;
}

.guide {
    background:#1D3557;
    color:white;
    margin: 0 auto;
    width: 70%;
    border-radius: 2em;
    box-shadow: -10px 10px #457B9D;
}

.guide-img{
    width: 100%;
    max-width: 250px;
    padding: .75em;
    border-radius: 2em;
    object-fit: cover;
    max-height: 250px;
}

.guide-content{
    padding: 0.5em;
}

.guide-title{
    font-size: 1.5rem;
    margin: 0;
}

.guide-quote{
    font-size: 1rem;
    font-style: italic;
}
@media screen and (min-width:600px) {
    .guide {
        display: flex;
        align-items: center;
        padding: .75em;
        max-width: 800px;
    }

    .guide-img {
        width: 50%;
    }

    .guide-title {
        font-size: 2rem;
    }

    .guide-quote,
    .guide-name {
        font-size: 1.25rem;
    }
} 

/* FOOTER */
footer {
    background-color: #457B9D;
    color: whitesmoke;
    padding: 1em;
    font-size: 1rem;
    margin-top: 2.5em;
}

footer a {
    color: whitesmoke;
}

footer p {
    letter-spacing: .05rem;
}